<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> I am R&D Engineer with over five years of experience. I specialize in process flow modeling, numerical simulations, 
          and techno-economic analysis.
</p>
      </div>

      <div class="col-lg-4">
        <p>I have a proven track record in enhancing system efficiency and accuracy while driving collaborative projects that 
          deliver real-world impact. Skilled in CFD, 0D/1D simulation, and optimization techniques </p>
      </div>
   

 
    </div>
  </div>
</section>
